# All dot files exept .gitignore
/**/.*
!/.gitignore

# Default outputfile
/maxwell.gnp

# Project build birictorice with contents
/gnump/
/gnuplot/
/build/

# All log files
/**/*.log

# All temporary MS Exel Files
/**/~$*
