# All dot files exept .gitignore and VC code project files
/**/.*
!/.gitignore
!/.vscode

# Plot output for gnuplot
/*.gnp

# Project build dirictorice with contents
/meep/
/gnump/
/gnuplot/
/build/*.o
/build/maxwell
/build/plot_test
/build/unit_test

# All log files
/**/*.log

# All temporary MS Exel Files
/**/~$*

# Export files to python ML
/*.json

# Saving database files
/*.sql
!/clean.sql
!/setup.sql
!/purge.sql